.tiny-carousel {
  display: flex;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.tiny-carousel h3 {
  font-size: 32px;
  color: #80e332;
  width: 100%;
  margin: 0;
  position: relative;
  top: -80px;
  z-index: 10;
}

.tiny-carousel > div {
  background-color: #b7986a;
  border: 4px #824f13 solid;
  border-radius: 17px;
  padding: 15px 5px;
  height: 550px;
  margin: 0 10px;
}

.tiny-carousel .centerImg > img {
  width: 95%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
  border: 4px #824f13 solid;
  border-radius: 17px;
  margin: 0 20px;
}

.carousel-title,
.tiny-carousel p {
  top: -70px;
  position: relative;
}
.tiny-carousel p {
  top: -150px;
}

.carousel-title img {
  width: 550px;
}

.arrow-btn {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .arrow-btn img {
    width: 64px;
  }
}

@media only screen and (max-width: 767px) {
  .arrow-btn img {
    width: 32px;
  }
  .carousel-title {
    display: none;
  }
  .tiny-carousel .centerImg > img {
    margin: 0;
  }
  .tiny-carousel p {
    top: 0px;
  }

  .tiny-carousel > div {
    height: auto;
  }
}
